* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    max-width: 700px;
    width: 100%;
    min-height: 600PX;
    height: auto;
    background-color: rgb(159, 159, 159);
    padding: 30px;
}
label{
    display: flex;
    align-items: center;
}
label h3, input {
    width: 50%;
    height: 40px;
    align-items: center;
    display: flex;
}
.radio{
    display: flex;
    align-items: center;
}
.radio div label h3{
    width: 100%
}
.radio div label input{
    width: 40px;
    height: 40px;
}
.radio h3 {
    width: 50%;
    height: 40px;
    align-items: center;
    display: flex;
}
select{
    width: 50%;
    height: 40px;
}
textarea{
    width: 50%;
    height: 120px;  
}
input[type=checkbox]{
    width: auto;
    width: 40px;
    height: 40px;  
}
.checkbox{
    display: flex;
}
.checkbox div{
    width: 50%;
}
.but{
    display: flex;
    justify-content: center;
    gap: 5px;
}
button{
    width: 70px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}